.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.md
*.ipynb
*.pdf
*.docx
!header.html
!index.html
!page.html
*.local
lsAll
allFiles
node_modules/*
changed.txt
token.json
credentials.json
figure/
builds/
