<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style> 
	body, html {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
	#inspire > div > main > div > div {
	    padding: 0;
	}
	iframe {
	  width: 100%;
	  height: 100%;
	  border: none;
	}
  </style> 
  <script src="json-data.js"></script>
</head>
<body>
  <div id="app">
  <v-app id="inspire">
    <v-navigation-drawer fixed v-model="drawer" app >
  <v-treeview activatable :items="items" :active.sync="active" :open.sync="open" open-on-click>
      <template v-slot:prepend="{item, open}">
	  <v-icon v-if="!item.file">
	    mdi-file
	  </v-icon>
	  <v-icon v-else>
	    {{ files[item.file] }}
	  </v-icon>
      </template>
      <template v-slot:label="{item}">
	    <div v-if="!item.file">
		{{item.name}}
	    </div>
	    <div v-else>
		{{item.name}}
	    </div>
      </template>
  </v-treeview>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title> {{page}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height fill-width>
        <v-layout justify-center align-center >
	   <iframe id="theIframe" v-bind:src="page"></iframe> 
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.2.0/dist/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
	  created: function () {
	      console.log("preparing socket io");
	      var self = this;
	      var socket = io();
	      socket.on("load-event", function (filename) {
		console.log("got the load event: " + filename);
		self.active = [filename];	
		// var base = filename.substring(0, filename.lastIndexOf('.')); 
		// self.open = [base]; 
	      });
	  },
	methods: { 
	},
	computed: {
	    page: function() {
		console.log("updating page !!!");
		if(this.active.length ===1) {
		    console.log("updating url");
		    return this.active[0];
		}
		else {
		    console.log("updating to null string");
		    return "";
		}
	    }
	},
     data: () => ({
	  drawer: null,
	  open: ["Webscraping"],
	  active: ["Webscraping.html"],
	  files: {
	    html: 'mdi-file-xml',
	    md: 'mdi-markdown',
	    pdf: 'mdi-file-pdf',
	 //   ipynb: 'mdi-file'
	  },
	 items: jsonItems 
	})
    })
  </script>
</body>
</html>
